<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../favicon.ico">

		<title>Medchain</title>

		<!-- Bootstrap core CSS -->
		<!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
								
								Medchain
								<!--Image to be inserted later (need photoshop) <img src='/images/medchain_text.png'/> -->
						</a>
					</div>
					<ul class="nav navbar-nav initialSlideIn">
						<li><a href="/patient-main">Patient</a></li>
						<li><a href="/doctor-main">Doctor</a></li>
						<li><a href="/pharmacist-main">Pharmacist</a></li>
					</ul>
				</div>
		</nav>
		<div class="jumbotron">
				<div class="container">
					 <h1 class='text-center'>Medical Blockchain App</h1>
				</div>
		</div>

		<div class="container">
				<div class="row">
						<div class="col-md-12 text-center" style="">
								<a href="/app"> <button class="dark-button giant-size">Get Started<i class="fa fa-chevron-right" aria-hidden="true"></i></button></a>
						</div>
				</div>
		</div>

		<p class="tag">Made with <i class="fa fa-heart" style="color:#fdd600" aria-hidden="true"></i> by <a href="http://www.github.com/minho-lee" style="color: #323232">Minho Lee</a></p>

		<div class='text-center' style="margin-top:100px"> PLACEHOLDER</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

	 <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script type="text/javascript " src="js/main.js "></script>
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>

</html>
