<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/process.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
				<div class="navbar-header">
					 <a class="navbar-brand" href="/">
						<span id='color-one'>med</span><span id='color-two'>chain</span>
					</a>
				</div>
				<ul class="nav navbar-nav">
					 <li><a href="#">Patient</a></li>
					 <li><a href="#">Doctor</a></li>
					 <li class='active'><a href="#">Pharmacist</a></li>
				</ul>
			</div>
		</nav>

		<div class='container-fluid'>
			<div class='row' id='section1'>
				<div class="sk-folding-cube">
  					<div class="sk-cube1 sk-cube"></div>
					<div class="sk-cube2 sk-cube"></div>
					<div class="sk-cube4 sk-cube"></div>
					<div class="sk-cube3 sk-cube"></div>
				</div>
			
				<div class='row text-center' id='loading'>
					<h2>
						Checking
						<span class='dots'></span>
					</h2>
				</div>
			</div>
			<div class='row text-center hidden' id='section2'>
				<h1 style='margin-bottom: 30px'>Conflict Found</h1>
				<div class='col-md-6 col-sm 6'>
					<div id='rect1' class="pills">
						<img src='../images/red-pill.png' class='myAnimation1'/>
					</div>
					<div id='rect1-info' class='rect-info'>
						<%=duplicateArray[0]%>
					</div>
				</div>
				<div class='col-md-6 col-sm 6'>
					<div id='rect2' class="pills">
						<img src="../images/green-pill.png" class='myAnimation2'/>
					</div>
					<div id='rect2-info' class='rect-info'>
						<%=duplicateArray[0]%>
					</div>
				</div>
			</div><!--section2-->
			<div class='row text-center hidden' id='afterResult'>
				<span><%=duplicateArray[0]%></span>
			</div>
			<div class='row text-center hidden' id='resolve-button-div'>
				<button id='resolve' class='radical-button'>Resolve</button>
			</div>
			<div class='row text-center hidden' id='next-page-div'>
				<form action='/patient-info' method='POST'>
					<input class='hidden' name='name' value='sukhpal'/>
					<button id='next-page' class='radical-button' type='submit'>Back To Main<i class='glyphicon glyphicon-log-out'></i></button>
				</form>
			</div>
		</div><!--container-fluid-->
		<div class='filler'></div>


		<script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src='js/process.js'></script>
		<script type="text/javascript" src="js/main.js "></script>
	</body>
</html>