/*
	Radical Red: #F33259;
	Old Rose: #D02D50, rgb(208, 45, 80);
	Old Rose: #A92746, rgb(169, 39, 70); (Darker)
	Kobi: #E48EA1;
*/

.jumbotron {
		background-color: #fdd600;
		padding-top: 128px;
		padding-bottom: 128px;
		border-radius: 0px;
}

.orange-button {
		color: #fdd600;
		background-color: #323232;
		border-left-color: #fdd600;
		border-right-color: #fdd600;
		border-top-color: #fdd600;
		border-bottom-color: #fdd600;
		text-align: center;
		border-radius: 0px;
}

.giant-size {
		margin-top: 100px;
		font-size: 26px;
		padding-top: 26px;
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
}

.dark-button {
		color: #323232;
		background: none;
}

.dark-button:hover {
		color: #fdd600;
		background: #323232;
		background-color: #323232;
		border-left-color: #323232;
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: #323232;
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: #323232;
		border-top-style: solid;
		border-top-width: 2px;
}

.light-button {
		color: #fdd600;
		background: none;
		border-left-color: #fdd600;
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: #fdd600;
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: #fdd600;
		border-top-style: solid;
		border-top-width: 2px;
		border-bottom-color: #fdd600;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-radius: 0px;
}

.light-button:hover {
		color: #323232;
		background: #fdd600;
		background-color: #fdd600;
		border-left-color: #fdd600;
		border-left-style: solid;
		border-left-width: 2px;
		border-right-color: #fdd600;
		border-right-style: solid;
		border-right-width: 2px;
		border-top-color: #fdd600;
		border-top-style: solid;
		border-top-width: 2px;
}
/* * * * * * * * * * * * * */
/* global */
.padding-large {
	padding-top: 90px;
	padding-bottom: 90px;
}
.padding-medium {
	padding-top: 40px;
	padding-bottom: 40px;
}
.padding-top-large {
	padding-top: 90px;
}
.margin-large {
	margin-top: 90px;
	margin-bottom: 90px;
}
.margin-medium {
	margin-top: 40px;
	margin-bottom: 40px;
}
.margin-small {
	margin-top: 15px;
	margin-bottom: 15px;
}
.margin-top-large {
	margin-top: 90px;
}
.margin-bottom-large {
	margin-bottom: 90px;
}
.margin-left-large {
	margin-left: 90px;
}
.margin-right-large {
	margin-right: 90px;
}
.margin-top-medium {
	margin-top: 40px;
}
.margin-bottom-medium {
	margin-bottom: 40px;
}
.margin-right-medium {
	margin-right: 40px;
}
.margin-left-medium{
	margin-left: 40px;
}
.margin-bottom-small {
	margin-bottom: 25px;
}
.margin-right-small {
	margin-right: 15px;
}
.margin-left-small {
	margin-left: 15px;
}
.margin-top-small {
	margin-top: 15px;
}
.padding-left-small{
	padding-left: 15px;
}
.margin-top-xs {
	margin-top: 5px;
}
.mat-none {
	margin-top: 0;
}
.mab-none {
	margin-bottom: 0;
}
.mar-none {
	margin-right: 0;
}
.mal-none {
	margin-left: 0;
}
.pad-none{
	padding: 0;
}

.float-left{
	float: left;
}
.float-right{
	float:right;
}
.float-none{
	float:none;
}
.float-inherit {
	float:inherit;
}
.float-initial {
	float: initial;
}
.short-delay{
	animation-delay: 0.5s;
}
.medium-delay{
	animation-delay: 0.8s;
}
.long-delay {
	animation-delay: 1.2s;
}

body {
	padding-top: 50px;
	font-family: 'Roboto', sans-serif;
	color: #323232;
}
.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
	outline: none;
	color: #9d9d9d;
	cursor: not-allowed;
}

.radical-button {
	background-color: #F33259;
	border: solid red 0.2px;
	border-radius: 2em;
	height: 3em;
}
.radical-button:focus {
	outline: none;
}
.initialSlideIn {
	animation: initialSlideIn 1.0s linear;
}
@keyframes initialSlideIn {
	0% {
		z-index: -2;
		opacity: 0;
		transform: translateX(-100%);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		z-index: auto;
		opacity: 1;
		transform: translateX(0%);
	}
}
/* * * * * * * * * * * * * */



/* * * * * * * * * * * * * */
/* patient-main.ejs */
#color-one {
	color: #F6F3F3;
	transition: color 0.6s linear;
}
#color-two {
	color: #F33259;
	transition: color 0.6s linear;
}
#section1 {
	background-color: rgba(0,0,0,0.8);
	color: #f6f3f3;
	padding-left: 4em;
	/*min-height: 700px;*/
	height: 95vh;
	padding-right: 4em;
	padding-top: 2em;
}
#section1-header h1{
	float: left;
	margin-top: 0.5rem;
	margin-left: 2rem;
}
#section1-header img {
	float: left;	
}
#section1 .logo-color-change {
	color: #F33259;
	margin-left: 0;	
}
#section1-content {
	margin-top: 8em;
}
#section1-content h4 {
	font-weight: 300;
	line-height: 1.2em;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	color: #F6F3F3;
}
.footer a {
	color: #F6F3F3;
}
.footer a:hover {
	text-decoration: none;
	cursor: alias;
}
.footer a:focus {
	text-decoration: none;
}
.footer span {
	transition: color 0.6s linear;
}
.footer .color-change {
	color: #F33259;
}
#section2 {	
	color: #fff;
	height: 95vh;
	padding-right: 3em;
	padding-left: 3em;
}
#section2:before {
	content: "";
	background: url('../images/phone-pic-2.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#section2 #login-title{
	margin-top: 35%;
	margin-left: 5%;
	color: #D02D50;
}
#section2 #login-title:after {
	content: '';
	width: 20%;
	border-bottom: solid 1px rgba(0,0,0,0.5);
	z-index: 1;
	position: absolute;
	left: 10%;
}
#section2 #login-main{
	margin-top: 13em;
}
#login-main i {
	margin-right: 2em;
	margin-left: 1em;
}
#login-main #username {
	background-color: inherit;
	border: none;
	border-bottom: solid rgba(0,0,0,0.5) 1px;
	width: 60%;
	padding-bottom: 1em;
	transition: 0.5s;
}
#login-main #username:focus {
	outline: 0;
	border-bottom-color: black;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
/* For Chrome placeholder color change*/
#login-main #username::-webkit-input-placeholder { 
	color: #fff;
	transition: 0.5s;
}
/* For Chrome placeholder input change*/
#username:focus::-webkit-input-placeholder{
	opacity: 0;
}
#login-button {
	background-color: #F33259;
	border: solid red 0.2px;
	border-radius: 2em;
	width: 70%;
	height: 3em;
	transition: 0.5s;
}
#login-button:hover {
	background-color: #dbdbdb;
	color: #F33259;
	font-size: 1.2em;
}
#login-button:focus {
	outline: 0;
}
/* * * * * * * * * * * * * */

/* * * * * * * * * * * * * */
/* patient-info.ejs */
#patient-info-ejs {
	font-family: 'Roboto', sans-serif;
}
#header-section {
	color: #fff;
	background-color: #464646;
	height: 200px;
}
#face-picture {
	position: relative;
	top: 3.5em;
}
#face-picture img {
	float: right;
}

#name-and-role {
	position: relative;
	top: 4.5em;
}
#name-and-role h2 {
	font-weight: 700;
}

#personal-info {
	height: 120px;
	background-color: #000;
	color: #fff;

	/*text-align: center;*/
}
#address, #phone-number, #send-email{
	position: relative;
	top: 32%;
}
#address i, #phone-number i, #send-email i{
	float: right;
}
#phone-number span {
	padding-top: 1em;
}

#patient-info h2{
	font-weight: 900;
	text-shadow: 0.8px 0;
}

#drugs ul {
	list-style-type: none;
	margin-top: 2em;
	margin-left: 1em;
	padding: 0;
	width: 65%;
}
#drugs ul li {
	font: 200 1.5em/1.5 Roboto, sans-serif;
	border-bottom: 1px solid #ccc;
}
#drugs ul li:last-child {
	border: none;
}
#drugs ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 50%;
	-webkit-transition: all 0.5s ease ;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#drugs ul li a:hover {
	color: inherit;
	font-size: 1.6em;
	background: inherit;
	border-radius: 0.2em;
}

#disease-select {
	margin-left: 2em;
	margin-top: 2em;
}
select[name='disease1'] {
	width: 70%;
	height: 3em;
	background-color: #464646;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1em;
	/*text-overflow: '';*/
}
select[name='disease1']:focus {
	outline: none;
}
#activity-list {
	list-style-type: none;
	margin-top: 2em;
	font-size: 1.2em;
}
#activity-list span {
	margin-left: 1em;
}

#patient-info .row:last-child {
	margin-top: 2em;
}

button#submitToDoctor {
	background-color: #F33259;
	color: #fff;
	border: solid red 0.2px;
	border-radius: 2em;
	width: 60%;
	height: 3em;
	transition: all 0.5s ease-in;
}
button#submitToDoctor i {
	margin-left: 0em;
	color: inherit;
	transition: all 0.8s ease;
}
button#submitToDoctor:hover {
	font-size: 1.2em;
}
button#submitToDoctor:hover i {
	margin-left: 2em;
	color: #000;
}
button#submitToDoctor:focus {
	outline: 0;
}


.filler {
	height: 50px;
}
/* * * * * * * * * * * * * */

/* * * * * * * * * * * * * */


/* * * * * * * * * * * * * */
/* doctor.ejs */



/* * * * * * * * * * * * * */

/* * * * * * * * * * * * * */
/* pharmacist.ejs */



/* * * * * * * * * * * * * */

.dropbtn {
	background: none;
	font-size: 16px;
	cursor: pointer;
	margin: 0;
	color: #fdd600;
	border-left-color: #fdd600;
	border-right-color: #fdd600;
	border-top-color: #fdd600;
	border-bottom-color: #fdd600;
	width: 176.06px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
	line-height: 0;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fdd600;
	min-width: 160px;
	width: 176.06px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	line-height: 1.2;
}


/* Links inside the dropdown */

.dropdown-content a {
	color: #323232;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	text-align: left;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #fdd600;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	background-color: #fdd600;
	color: #323232;
}
